<h1 class="pb-4">By Categories</h1>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/profile">Home</a></li>
		<li class="breadcrumb-item"><a href="/recipe/categories">Categories</a></li>
	</ol>
</nav>

<div class="center row row-cols-2 row-cols-lg-3 g-2 g-lg-3 mb-4">
	<a href="/recipe/categories/component" class="col text-center category__link">
		<div class="category__img shadow">
			<img src="/img/kimchee.jpeg" alt="" loading="lazy" />
		</div>
		<div class="pt-1">Components</div>
	</a>
	<a href="/recipe/categories/sauces" class="col text-center category__link">
		<div class="category__img shadow">
			<img src="/img/sauces.jpeg" alt="" loading="lazy" />
		</div>
		<div class="pt-1">Sauces</div>
	</a>
	<a href="/recipe/categories/final" class="col text-center category__link">
		<div class="category__img shadow">
			<img src="/img/chicken curry.jpeg" alt="" loading="lazy" />
		</div>
		<div class="pt-1">Final/Complete Dishes</div>
	</a>
</div>
