
<main class="container">
    <div class="row">
        <section class="text-center">
            <h2>Contact me!</h2>
            <p>If you would like to contact me, feel free to email me at - </br>narcisodsalvador@gmail.com</p>
            <span>Or</span>
            <p> Check out my portfolio at<a class="nav-link" href="https://narcisosalvador.com/" rel="noopener">Narciso Salvador</a>
            </p>
        </section>
    </div>
</main>
