
<main class="container">
    <div class="row justify-content-around mt-5">

    </div>
</main>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4 ">
    <div class="col-12 col-lg-6">
      <img src="/img/restaurants.jpg" width="607" height="300" class="d-block mx-lg-auto img-fluid indeximg" loading="lazy" alt="Chef's Black Book">
    </div>
  
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3">A home for all your recipes</h1>
      <p class="lead">
        A chef's tool to store, edit and share recipes. A modern and user friendly replacement of that old dirty black book you keep in your back pocket.
      </p>
  
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/login" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Login</a>
        <a href="/signup" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Signup</a>
      </div>
  
    </div>
  
  </div>
