<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/Pancho small.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Chef's Black Book">
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Welcome</h1>
    <p class="lead">
    Click below to explore your recipes.
    </p>

    <div class="d-grid gap-2 d-md-flex py-1 justify-content-md-start">
      <a href="#" class="btn btn-outline-secondary btn-lg px-4 me-md-2">By Categories</a>
    </div>
    <div class="d-grid gap-2 py-1 d-md-flex justify-content-md-start">
    <a href="#" class="btn btn-outline-secondary btn-lg px-4 me-md-2">By Date Added</a>
    </div>
    <div class="d-grid gap-2 py-5 d-md-flex justify-content-md-start">
      <a href="#" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Add New Recipe</a>
    </div>
  </div>

</div>
